/*sass/
|
|– abstracts/
|   |– _variables.scss    # Sass Variables
|   |– _functions.scss    # Sass Functions
|   |– _mixins.scss       # Sass Mixins
|   |– _placeholders.scss # Sass Placeholders
|
|– base/
|   |– _reset.scss        # Reset/normalize
|   |– _typography.scss   # Typography rules
|   …                     # Etc.
|
|– components/
|   |– _buttons.scss      # Buttons
|   |– _carousel.scss     # Carousel
|   |– _cover.scss        # Cover
|   |– _dropdown.scss     # Dropdown
|   …                     # Etc.
|
|– layout/
|   |– _navigation.scss   # Navigation
|   |– _grid.scss         # Grid system
|   |– _header.scss       # Header
|   |– _footer.scss       # Footer
|   |– _sidebar.scss      # Sidebar
|   |– _forms.scss        # Forms
|   …                     # Etc.
|
|– pages/
|   |– _home.scss         # Home specific styles
|   |– _contact.scss      # Contact specific styles
|   …                     # Etc.
|
|– themes/
|   |– _theme.scss        # Default theme
|   |– _admin.scss        # Admin theme
|   …                     # Etc.
|
|– vendors/
|   |– _bootstrap.scss    # Bootstrap
|   |– _jquery-ui.scss    # jQuery UI
|   …                     # Etc.
|
`– main.scss              # Main Sass file */

@import "base/_reset.scss";
@import "base/_typography";

html {
    overflow-x: hidden;
}

body {
    background-color:#131415;
    position: relative;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: visible;
}

#logo {
    position: relative;
    width: 100%;
}

.dots{
    position: relative;
    bottom: 100px;
    left: 20%;
}

.logo-wrapper {
    position: relative;
    width: 120%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(.7)
}

h1 {
    color: white;
}