@font-face {
    font-family: 'D-DinExp';
    src: url(fonts/D-DINExp.woff) format('woff'),
         url(fonts/D-DINExp.otf) format('otf');
    font-style: normal;
    font-weight: 300;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

h1 {
    font-family: D-DinExp;
    font-weight: 300;
    font-size: 40px;
    letter-spacing: 7px;
    text-align: center;
    margin-top: 60px
}

h2 {
    font-family: montserrat;
    color: #AAABB8;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 4px;
    text-align: center;
    margin-top: 25px
}
